<div class="calculator">
  <div class="calc-screen">
    <div class="info">𝐙𝟐 Field Applied</div>
    <div class="pre">{{preOperandDisplay}}</div>
    <div class="cur">{{curOperand}}</div>
  </div>
  <div class="btns">
    <button mat-fab class="operator" (click)="enterOperation('add')">+</button>
    <button mat-fab class="operator" (click)="enterOperation('mul')">&times;</button>
    <button mat-fab class="operator" (click)="enterOperation('div')">/</button>
    <button mat-fab class="operator" (click)="enterOperation('mod')">%</button>
    <button mat-fab class="number" (click)="enterNumber($event)">7</button>
    <button mat-fab class="number" (click)="enterNumber($event)">8</button>
    <button mat-fab class="number" (click)="enterNumber($event)">9</button>
    <button mat-fab class="delete" (click)="deleteLast()">&#x232B;</button>
    <button mat-fab class="number" (click)="enterNumber($event)">4</button>
    <button mat-fab class="number" (click)="enterNumber($event)">5</button>
    <button mat-fab class="number" (click)="enterNumber($event)">6</button>
    <button mat-fab class="clear" (click)="reset()">AC</button>
    <button mat-fab class="number" (click)="enterNumber($event)">1</button>
    <button mat-fab class="number" (click)="enterNumber($event)">2</button>
    <button mat-fab class="number" (click)="enterNumber($event)">3</button>
    <button mat-fab (click)="setDegree()">𝑅<sub>{{maxDegree?maxDegree:'&infin;'}}</sub></button>
    <button mat-fab class="number" (click)="enterNumber($event)">0</button>
    <button mat-fab class="symbol" (click)="enterSymbol('x')">𝑥</button>
    <button mat-fab class="symbol" (click)="enterSymbol('x^')">𝑥^</button>
    <button mat-fab class="symbol" (click)="enterSymbol('+')">+</button>
    <button mat-fab class="equal" (click)="compute()">=</button>
  </div>
</div>